body {
    background-color: #2e2e2e;
}

#container {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    margin-top: 75px;
}

#calculator {
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: 1fr repeat(5, 75px);
    background-color: #1c1c1c;
    min-width: 200px;
}

#calculator button {
    background-color: #e8e8e8;
    border: none;
    font-size: 20px;
}

#calculator button:hover {
    background-color: #a7ebd7;
}

#displayWrapper {
    background-color: lightGrey;
    grid-column: 1 / span 4;
    text-align: right;
    margin: 0;
    padding: 0 5px;
    text-align: right;
    min-height: 75px;
    max-height: 75px;
    overflow-y: scroll;
    
    /*Firefox scroll*/
    scrollbar-color: #a7ebd7 lightGrey;
    scrollbar-width: thin;
}

/************** SCROLL **************/

#displayWrapper::-webkit-scrollbar {
    width: 4px;
}

#displayWrapper::-webkit-scrollbar-track {
    background-color: lightGrey;
    border-radius: 10px;
}

#displayWrapper::-webkit-scrollbar-thumb {
    background-color: #a7ebd7;
    border-radius: 10px;
}

/************ SCROLL END ************/

#display {
    font-size: 40px;
    overflow-wrap: break-word;
}

#clear {
    grid-column: 1 / span 2; 
}

#zero {
    grid-column: 1 / span 2;
}
